body {
    background-color: aliceblue;
}
#mid {
    text-align: center;
    font-size: 400%;
    text-shadow: 1px 1px 0px rgb(255, 0, 43);
    margin-top: 0%;
}
h2 > i {font-size: 150px;}

em {
  font-size: 150px;
  animation: pulsate 2s infinite;
}


#game-area {
    background-color: blanchedalmond;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    margin-top: -20px;
}
#game-header {
    font-family: Courier, monospace;
    text-align: center;
    font-size: 300%;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    animation: pulsate 2s infinite;
    margin-top: 0%;
}


@keyframes pulsate {
    0% {
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
    50% {
      text-shadow: 0 0 10px rgba(248, 0, 0, 1);
    }
    100% {
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
  }


.button2 {
    background-color: white;
    font-size: 900%;
    width: 33%;
    height: 25%;
}
.button2:hover {cursor: pointer;
background-color: black;
color: aliceblue;}
.score-area {
text-align: center;
}
.scores {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:300%;
display: inline;

}
#pcchose {text-align: center;
text-transform: uppercase;

font-family: Verdana, Geneva, Tahoma, sans-serif;}
@media screen and (max-width: 500px) {
        #mid {
            text-align: center;
            font-size: 200%;
            margin-top: 0%;
             }
    #game-header {  font-size: 200%;}
    .button2 {
        background-color: white;
        font-size: 50px;
        width: 100%;
        height: 25%; }
        
#game-area {
  
  height: 100%;
}